body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}

#supportHero{
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a{
  color: white;
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input{
  padding: 20px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

.phone-input-container {
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 420px;
      padding: 5px 10px;
      font-family: Arial, sans-serif;
      margin-left: 95px;
      margin-top: 15px;
      height: 65px;
    }

    .flag {
      width: 30px;
      height: 20px;
      margin-right: 8px;
    }

    .country-code {
      margin-right: 10px;
      font-size: 20px;
      color: #333;
    }

    .phone-input {
      border: none;
      outline: none;
      font-size: 20px;
      flex: 1;
      color: #333;
    }

    .phone-input::placeholder {
      color: #ccc;
    }

    .custom-tabs .nav-link {
  border: none;
  color: #555;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 20px;
  transition: 0.2s;
  background-color: transparent;
}

.custom-tabs .nav-link.active {
  color: #1976d2;
  border-bottom: 2px solid #1976d2;
  background-color: transparent;
}

.card.shadow-sm {
  border-radius: 10px;
  overflow-x: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  margin-top: 10px;
}

.custom-table {
  width: 100%;
  min-width: 800px;
  font-size: 16px;
  table-layout: auto;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 16px 20px;
  vertical-align: middle;
  text-align: left;
  color: #444;
}

.custom-table thead tr {
  background-color: #f8f9fa;
  font-weight: 600;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f7f7f7; /* Light grey row */
}

.custom-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.custom-table td[colspan] {
  font-style: italic;
  color: #555;
}
.icon i {
  opacity: 0.7;
  font-size: 22px;
  margin-left: 28px;
  margin-bottom: 40px;
}

.icon{
  margin-left: -28px;
}

.icon i:hover {
  opacity: 1;
}

.link a {
  text-decoration: none;
  color: rgb(102, 102, 102);
  line-height: 30px;
  font-size: 18px;
}

.link a:hover{
  color: rgb(87, 132, 255);

}